html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.typing-field {
	font-size: 20px;
}

.current-word {
	text-decoration: underline !important;
}

.right-char {
	color: green !important;
}

.wrong-char {
	color: red !important;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 5px;
  background: #b52bff;
}

.header {
  align-self: center;
  color: #2e2e2e;

  &--title {
    text-align: center;
  }
}

h2 {
  margin: 0;
  text-align: center;

  &:first-child {
    margin: 2rem 0 0;
  }
}

.container {
  padding: 1rem 2rem;
  margin: 2rem 1rem 1rem;
  text-align: center;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  font-size: 1.25rem;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

input[type=text] {
  display: block;
  margin: 0 auto;
  text-align: center;
  min-width: 400px;
  min-height: 2rem;

}

#time-elapsed,
#wpm {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;

}

.box {
  padding: 1rem;
margin: 1rem;
color: #003399;
  background-color: white;
border: 1px #b3b3b3 solid;
border-radius: 5px;
-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.results {
  display: flex;
  
}